/**********************************
GENERAL PRESETS
***********************************/

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
}

.wrapper {
  max-width: 768px;
  margin: 0 auto;
}

main {
  padding: 0 15px;
}

fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}

legend, section h2 {
  color: #2d3945;
  font-size: 1.25rem;
  font-weight: 500;
}

select, button, textarea, .contact-info input {
  width: 100%;
  height: 50px;
  padding: 15px;
  color: #777;
  border: none;
  border-radius: 5px;
  background-color: #eff0f1;
}

textarea {
  min-height: 100px;
  margin-top: 20px;
  resize: none;
}

button {
  height: 60px;
  margin-top: 30px;
  color: #fff;
  background-color: #4ebbb5;
  font-size: 1rem;
}

button, label:hover {
  cursor: pointer;
}


/**********************************
HEADER
***********************************/

header {
  margin: 0;
  padding: 10px;
  text-align: center;
  background-color: #2d3945;
}

h1 {
  text-transform: uppercase;
  color: #fff;
  font-size: 1.25rem;
  font-weight: 500;
}


/**********************************
INTRO HEADING
***********************************/

section {
  padding: 15px 0 20px;
  text-align: center;
  border-bottom: 4px solid #2d3945;
}

section h2 {
  line-height: .90rem;
}

section p, footer {
  color: #aaafb4;
  font-size: .90rem;
  font-weight: 200;
}


/**********************************
MAIN FORM BODY
***********************************/

form {
  margin-top: 4px;
  padding-top: 25px;
  border-top: 2px solid #2d3945;
}

form h4 {
  color: #495d70;
  font-weight: 400;
}


/**********************************
CONTACT INFO FIELDSET
***********************************/

.contact-info {
  margin-bottom: 25px;
  padding-bottom: 35px;
  border-bottom: 2px solid #2d3945;
}

.contact-info label {
  display: block;
  margin-top: 10px;
  padding: 10px 0;
  font-size: .90rem;
}

.contact-info legend {
  margin-bottom: 5px;
}

input::placeholder {
  font-size: .75rem;
  font-weight: 100;
  font-style: italic;
}

input[placeholder="Required"]::placeholder {
  text-align: right;
}

label {
  color: #495d70;
}

input[name="zip"] {
  width: 50%;
}


/**********************************
FOOTER
***********************************/

footer {
  padding: 10px 15px 30px;
  text-align: center;
}
